<?xml version="1.0" encoding="utf-8"?>


<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<rewrite>
				<rules>
					<rule name="index-default">
						<match url="^$" />
						<action type="Rewrite" url="index.html" />
					</rule>
					<rule name="public-static">
						<match url="([\S]+[.](html|htm|svg|js|css|png|gif|jpg|jpeg))" />
						<action type="Rewrite" url="public/{R:1}" />
					</rule>
				</rules>
			</rewrite>
			<handlers>
				<add name="StaticFiles_Js" path="*.js" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
				<add name="StaticFiles_html" path="*.html" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet"
						  arguments=".\Server\PSTNServerApp.dll"
						  stdoutLogEnabled="false"
						  stdoutLogFile="\\?\%home%\LogFiles\stdout"
						  hostingModel="inprocess" />

			<!-- Adding Gzip compression for static files -->
			<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files" minFileSizeForComp="1024">
				<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
				<staticTypes>
					<add mimeType="text/*" enabled="true" />
					<add mimeType="application/javascript" enabled="true" />
					<add mimeType="application/json" enabled="true" />
					<add mimeType="*/*" enabled="false" />
				</staticTypes>
			</httpCompression>
		</system.webServer>
	</location>
</configuration>